*.root
*.csv
*.cvs
output_plots/
website/
*/build/
*/build/*
/build/*
test_dir/build/
*.o
*.tiff
*.svg
*.pdf
.vscode
hv_ALICE_Data
test_run/analysis_run
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.png
*.gif
